.name-title {
  position: fixed;
  left: 20px;
  h2 {
    width: 500px;
    font-weight: lighter;
    font-size: 70px;
  }
}
.yomero-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: grayscale(1);
  }
  .yomero-text {
    display: block;
    margin-left: 10px;
    h3 {
      margin: 0;
      font-size: 4rem;
      font-weight: lighter;
    }
    h5 {
      margin: 0;
      font-size: 2rem;
      font-weight: lighter;
    }
  }
}

.navigator-menu-cont {
  position: fixed;
  top: 160px;
  width: 320px;
  height: 50px;
  background-color: white;
  padding: 0;
  color: black;
  z-index: 100;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

#logo-main {
  opacity: 0.5;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  transition: 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
.info-cont {
  position: fixed;
  right: 25px;
  bottom: 5px;
  width: 120px;
  z-index: 1;
  transition: 0.5s ease;
  p {
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    opacity: 0.7;
  }
  &:hover {
    font-weight: normal;
  }
}

.social-icons-cont {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  #Icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.square-active {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background: black;
  margin-right: 3px;
  transition: 0.5s ease;
}

.square-inactive {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background: none;
  margin-right: 3px;
  transition: 0.5s ease;
}
