@import "./styles/Home.style.scss";
@import "./styles/Projects.style.scss";
@import "./styles/Contact.style.scss";

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100&display=swap");

* {
  margin: none;
  font-family: "Abel", sans-serif;
  font-family: "Inter", sans-serif;
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  //background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  margin: none;
}
body {
  margin: none;
  display: block;
  justify-content: center;
  height: 98%;
  border: 1px solid white;
  padding: none;
  background: linear-gradient(-45deg, #000000, #202020);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 98vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.languaje-container {
  opacity: 0.7;
  position: fixed;
  top: 90px;
  right: 5px;
  padding: 0;
  width: 100px;
  height: 50px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    li {
      display: flex;
      margin: 3px;
      cursor: pointer;
    }
  }
}

.squareL-active {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  background: white;
  margin-right: 3px;
  transition: 0.5s ease;
}

.squareL-inactive {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  background: none;
  margin-right: 3px;
  transition: 0.5s ease;
  cursor: pointer;
}

.square-active {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background: black;
  margin-right: 3px;
  transition: 0.5s ease;
}

.square-inactive {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background: none;
  margin-right: 3px;
  transition: 0.5s ease;
}
